header {
  .top-header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 10px;
    img{
      margin-left: 20px;
    }
    span{
      font-weight: bold;
      font-size: 1.1em;
      color: grey;
      margin-left: 20px;
    }
  }
  nav{
    ul{
    display: flex;
    justify-content: flex-start;
    list-style: none;
      li{
        padding: 10px;
      }
      .active{
        border-bottom: 2px solid blue;
      }
    }
  }
  border-bottom: 1px solid grey;
  padding-bottom: 10px;
}
